<button mat-button [matMenuTriggerFor]="logingMenu">Home</button>
<mat-menu #logingMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="navigateTo('login')">Login</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="contactMenu">Contact</button>
<mat-menu #contactMenu="matMenu" yPosition="below">
  <button mat-menu-item>nous contacter</button>
  <button mat-menu-item (click)="navigateTo('location')">adresse</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="albumMenu">Album</button>
<mat-menu #albumMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="navigateTo('album')">photo</button>
</mat-menu>

<router-outlet></router-outlet>